{{#each this}}
<li class="gallery__item">
    <div class="photo-card">
        <img class="gallery__image" src="{{webformatURL}}" alt="{{tags}}" data-source="{{largeImageURL}}"/>
        <div class="stats">
            <p class="stats-item">
                <span class="material-icons">thumb_up</span>
                {{likes}}
            </p>
            <p class="stats-item">
                <span class="material-icons">visibility</span>
                {{views}}
            </p>
            <p class="stats-item">
                <span class="material-icons">comment</span>
                {{comments}}
            </p>
            <p class="stats-item">
                <span class="material-icons">cloud_download</span>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}